.wrapper {
	display : flex;
	flex-flow: column nowrap;
	width: inherit;
}

body {
	font: 12px "ProximaNovaSoft", Futura, sans-serif;
	font-weight: normal;
  color: #7e878f;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.line {
	height: 1px;
	background-color:  #efefef;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #026dba;
}