body {
	font: 12px "ProximaNovaSoft", Futura, sans-serif;
	font-weight: normal;
  color: #7e878f;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
	align-content: space-around;
	text-align: center;
}

.line {
	height: 1px;
	background-color:  #efefef
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #026dba;
}

table {
  border: solid 1px #dddddd;
  font-size: 14px;
  border-collapse: collapse;
}

th, td {
  border-right: 1px solid #dddddd;
  text-align: left;
  padding: 16px;
}

th {
    font-weight: bold;
    color: #44abd9;
}

tr:nth-child(even) {background-color: #f9f9f9;}

.label-status {
    border-radius: 4px;
    background-color: #a2e2b1;
    font-size: 12px;
    font-weight: bold;
    color: #699975;
    padding: 4px;
}