@font-face {
  font-family: "ProximaNovaSoft";
  font-weight: normal;
  src: url(./scenes/PngLanding/components/Fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.otf);
}

@font-face {
  font-family: "ProximaNovaSoft";
  font-weight: bold;
  src: url(./scenes/PngLanding/components/Fonts/ProximaNovaSoft/ProximaNovaSoft-Bold.otf);
}

.wrapper {
		display: flex;
}