.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  height: 80px;
  background-color: #006eb9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}