@font-face {
    font-family: "ProximaNovaSoft";
    font-weight: normal;
    src: url(ProximaNovaSoft/ProximaNovaSoft-Regular.otf);
  }
  
  @font-face {
    font-family: "ProximaNovaSoft";
    font-weight: bold;
    src: url(ProximaNovaSoft/ProximaNovaSoft-Bold.otf);
  }
  
  body {
    font: 12px "ProximaNovaSoft", Futura, sans-serif;
    color: #7e878f;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
  }
  
  .container-cnpj {
    font-weight: normal;
    padding: 24px;
    text-align: center;
  }
  
  .line {
    border-bottom: 1px #efefef solid;
  }
  
  .container-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #026dba;
    padding: 32px;
  }
  
  table {
    margin-left: 32px;
    border: solid 1px #dddddd;
    font-size: 14px;
    margin: auto;
    box-sizing: border-box;
    border-collapse: collapse;
  }
  
  th, td {
    border-right: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
  }
  
  th {
      font-family: ProximaNovaSoft;
      font-size: 14px;
      font-weight: bold;
      color: #44abd9;
  }
  
  tr:nth-child(even) {background-color: #f9f9f9;}
  
  .label-status {
      border-radius: 4px;
      background-color: #a2e2b1;
      font-size: 12px;
      font-weight: bold;
      color: #699975;
      padding: 4px;
  }
  
  .button-action {
    width: 105px;
    font-family: "ProximaNovaSoft", sans-serif;
    font-weight: bold;
    background-color: #2074ba;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
    border-style: none;
    cursor: pointer;
  }
  
  .container-invite {
    font-size: 18px;
    max-width: 686px;
    border-radius: 8px;
    background-color: #ededed;
    margin: auto;
    margin-top: 56px;
    padding: 32px;
  }
  
  .button-invite {
    font: 14px "ProximaNovaSoft", Futura, sans-serif;
    width: 183px;
    background-color: #47c661;
    border-radius: 4px;
    margin: auto;
    margin-top: 16px;
    padding: 8px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
  }
  
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 32px;
  border: 1px solid #888;
  width: 502px;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: ProximaNovaSoft;
  font-size: 14px;
  color: #7e878f;
  position: relative;
  text-align: center;
  line-height: 1.57;
}

.modal-title {
  font-family: ProximaNovaSoft;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #2074ba;
}

.modal-close-btn {
  font-size: 14px;
  color: #b3b3b4;
  background-color: #ffffff;
  border: none;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal-try-btn {
  background-color: #2074ba;
  font-family: ProximaNovaSoft;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.89;
  color: #ffffff;
  border-style: none;
  padding: 12px;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}