@font-face {
  font-family: "ProximaNovaSoft";
  src: url(ProximaNovaSoft/ProximaNovaSoft-Regular.otf);
  src: url(ProximaNovaSoft/ProximaNovaSoft-Bold.otf);
}

.header {
  height: 80px;
  background-color: #006eb9;
}

.logo {
  height: 40px;
}

body {
    font: 14px "ProximaNovaSoft", Futura, sans-serif;
    margin: 20px;
    background-color: #ffffff;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  