@font-face {
  font-family: "ProximaNovaSoft";
  font-weight: normal;
  src: url(ProximaNovaSoft/ProximaNovaSoft-Regular.otf);
}

@font-face {
  font-family: "ProximaNovaSoft";
  font-weight: bold;
  src: url(ProximaNovaSoft/ProximaNovaSoft-Bold.otf);
}

body {
  font: 12px "ProximaNovaSoft", Futura, sans-serif;
  color: #7e878f;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

.App-header {
  height: 80px;
  background-color: #006eb9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 40px;
}

.container-cnpj {
  font-weight: normal;
  padding: 24px;
  text-align: center;
}

.line {
  border-bottom: 1px #efefef solid;
}

.container-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #026dba;
  padding: 32px;
}

table {
  margin-left: 32px;
  border: solid 1px #dddddd;
  font-size: 14px;
  margin: auto;
  box-sizing: border-box;
  border-collapse: collapse;
}

th, td {
  border-right: 1px solid #dddddd;
  text-align: left;
  padding: 16px;
}

th {
    font-family: ProximaNovaSoft;
    font-size: 14px;
    font-weight: bold;
    color: #44abd9;
}

tr:nth-child(even) {background-color: #f9f9f9;}

.label-status {
    border-radius: 4px;
    background-color: #a2e2b1;
    font-size: 12px;
    font-weight: bold;
    color: #699975;
    padding: 4px;
}

.button-action {
  width: 105px;
  font-weight: bold;
  background-color: #2074ba;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  padding: 8px;
}

.container-invite {
  font-size: 18px;
  max-width: 686px;
  border-radius: 8px;
  background-color: #ededed;
  margin: auto;
  margin-top: 56px;
  padding: 32px;
}

.button-invite {
  font: 14px "ProximaNovaSoft", Futura, sans-serif;
  width: 183px;
  background-color: #47c661;
  border-radius: 4px;
  margin: auto;
  margin-top: 16px;
  padding: 8px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}